<launch>  
  <param name="goal_x" value="2" />
  <param name="goal_y" value="-2" />
  <param name="goal_theta" value="180" />

  <param name="/use_sim_time" value="true"/>
  
  <!--  Launch turtle bot world  -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
 
  <!-- Launch navigation stack with amcl -->
  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch"/>
 
  <!-- Launch send goals node -->
  <node name="make_plan_node" pkg="send_goals" type="make_plan_node" output="screen"/>
</launch>
 

